@{
    ViewBag.Title = "Employee Services";
}

<h2 style="text-align: center; margin-bottom: 40px;">Employee Services</h2>

<div class="grid-container">

    <div class="grid-card">
        <a href="http://41.139.212.197:1080/" target="_blank" rel="noopener noreferrer">
            <div class="quicklink-card">
                <div class="quicklink-text">KEPHIS Welfare</div>
            </div>
        </a>
    </div>

    <div class="grid-card">
        <a href="https://selfservice.kephis.org/" target="_blank" rel="noopener noreferrer">
            <div class="quicklink-card">
                <div class="quicklink-text">Kephis Self-Service Portal</div>
            </div>
        </a>
    </div>

    <div class="grid-card">
        <a href="http://197.248.126.4:8095/sops/welcome-login.html" target="_blank" rel="noopener noreferrer">
            <div class="quicklink-card">
                <div class="quicklink-text">KEPHIS ISMS</div>
            </div>
        </a>
    </div>

    <div class="grid-card">
        <a href="http://192.168.0.55:8081/" target="_blank" rel="noopener noreferrer">
            <div class="quicklink-card">
                <div class="quicklink-text">Laboratory Sample Tracking Management System</div>
            </div>
        </a>
    </div>

    <div class="grid-card">
        <a href="http://41.139.212.196:8082/Account/Login?returnUrl=/" target="_blank" rel="noopener noreferrer">
            <div class="quicklink-card">
                <div class="quicklink-text">Phytosanitary Documents Management System</div>
            </div>
        </a>
    </div>

</div>
