@using UserManagement.ViewModels
@model LogInViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}
<!-- -------------------------------------------------------------- -->
<!-- Login box.scss -->
<div class="col-md-6 col-xl-6 mx-auto" style="margin-left:auto;margin-right:auto">
    <div class="card" style="margin-bottom:0px;box-shadow:0 0 10px 0 rgba(183,192,206,.2);">
        <div class="row">
            <div class="col-md-4 pe-md-0 bg-success">
                <div class="auth-side-wrapper">
                </div>
            </div>
            <div class="col-md-8 ps-md-0">
                <div class="auth-form-wrapper px-4 py-4">
                    <div style="text-align:center">
                        <img src="~/assets/images/login/kephis-logo.png" width="80" alt="Home" />
                    </div>
                    <a href="#" class="noble-ui-logo d-block mb-2" style="text-align:center;font-weight: 600;font-size: 18px;color: #006019;font-family:-apple-system,BlinkMacSystemFont," Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";>
                        KEPHIS Hub
                        <p></p>
                    </a>
                    <h5 class="text-muted fw-normal mb-4" style="margin-bottom:10px;padding-top:0rem;"><span style="font-size:18px"></span><span> Login to your account</span></h5>

                    @{ var message = TempData["Message"]; }
                    @if (message != null)
                    {<div class="alert alert-danger col-md-12" style="padding:0.5rem">
                            <h4 style="font-weight:400">@message</h4>
                        </div>

                    }
                    <form form asp-action="Login" asp-controller="Account" class="fform-horizontal needs-validation" id="" method="POST" novalidate="">
                        <div class="form-floating mb-3">
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input asp-for="UserNameOrEmail" class="form-control form-input-bg" id="tb-email" required>
                            <label for="tb-email">User Name or Email</label>
                            <div class="invalid-feedback">
                                Email is required
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control form-input-bg" id="text-password" required>
                            <label for="text-password">Password</label>
                            <div class="invalid-feedback">
                                Password is required
                            </div>
                        </div>

                        <div class="d-flex align-items-center mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="r-me1">
                                <label class="form-check-label" for="r-me1">
                                    Remember me
                                </label>
                                <div class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                            <div class="ms-auto">
                                <a href="/Account/ForgotPassword" id="to-recover" class="fw-bold">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="col-md-12 d-grid gap-2">
                            <button type="submit" class="btn waves-effect waves-light btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
